
.o-footer {
  float: left;
  padding-bottom: 1rem;
  width: 100%;
}
.o-footer__nav {
  width: 100%;
  list-style: none;
  font: 1.2rem, sans-serif;
  color: #c8c8cd;
  float: left;
  text-align: center;
  padding: 1rem;
}
.o-footer__nav_item {
  display: inline-block;
  margin-top: 15px;
  padding-left: 5px;
}
.o-footer__nav_item--small {
  font-size: 8px;
}
.o-footer__nav_item a {
  color: inherit;
  text-decoration: none;
  border: none;
}
.o-footer__nav_item a:hover {
  color: #0065a4;
}
@media screen and (max-width: 400px) {
  .o-footer__nav {
    padding: 1rem 0;
    text-align: left;
  }
  .o-footer__nav_item {
    padding-left: 0;
    padding-right: 5px;
  }
}

.o-grid {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[class*="o-grid__column"] {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.o-grid__column-1of3 {
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}
.o-grid__column-2of3 {
  -webkit-flex-basis: 66%;
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}
.o-grid__column-3of3 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
@media screen and (max-width: 400px) {
  .o-grid__column-1of3,
  .o-grid__column-2of3 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .o-grid__mobile-pos-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .o-grid__mobile-pos-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

.o-headline {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .7rem;
  margin-top: 3rem;
}
.o-headline--secondary {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 300;
}
.o-headline--primary {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 300;
  margin-top: 0;
  color: #0064a5;
}

.o-image--padded {
  padding: 2rem;
}
.o-image--right {
  float: right;
  padding-right: 0;
}
@media screen and (max-width: 400px) {
  .o-image {
    width: 100%;
  }
  .o-image img {
    width: 100%;
  }
  .o-image--padded {
    padding: 20px 0;
  }
}

a,
.o-link {
  text-decoration: none;
  display: inline-block;
  color: #646469;
  box-shadow: 0 1px 0 #646469;
  transition: color 0.5s ease, box-shadow 0.5s ease;
}
a:hover,
.o-link:hover {
  color: #0064a5;
  box-shadow: 0 1px 0 rgba(0, 100, 165, 0);
}
.o-link--blue {
  color: #0064a5;
  box-shadow: 0 1px 0 #0064a5;
}
.o-link--blue:hover {
  color: #646469;
  box-shadow: 0 1px 0 rgba(0, 100, 165, 0);
}

.o-list {
  display: block;
  margin-bottom: 20px;
}
.o-list__item {
  margin-bottom: 5px;
}
.o-list--none {
  list-style: none;
}

.o-menu {
  width: 100%;
  line-height: 130%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.o-menu--small {
  font-size: 1.5rem;
}
.o-menu__link {
  color: #7d7d82;
  text-decoration: none;
  padding: .7rem 1.6rem;
  width: 100%;
  height: 100%;
  transition: color .5s;
}
.o-menu__link.is-active,
.o-menu__link:hover {
  color: #0064a5;
}
.c-main-menu {
  margin-top: 2rem;
  height: 4.4rem;
  border-bottom: 1px solid #f3f5fa;
  font: 14px "Verdana", sans-serif;
  list-style: none;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.c-main-menu .o-menu__link {
  transition: box-shadow 0.75s;
  padding-bottom: 1.6rem;
  box-shadow: 0px 3px 0 rgba(0, 0, 0, 0);
}
.c-main-menu .o-menu__link:hover {
  box-shadow: 0px 3px 0 #f3f5fa;
}
.c-main-menu .o-menu__link.is-active {
  box-shadow: 0px 3px 0 #0064a5;
}
.c-mobile-submenu {
  display: none;
}
.c-main-submenu {
  min-height: 4rem;
}
.c-main-submenu .o-menu__link {
  padding-top: .9rem;
  padding-bottom: 1.1rem;
}
.c-main-submenu .o-menu__link.is-active {
  background: rgba(0, 100, 165, 0.05);
}
@media screen and (max-width: 700px) {
  .c-main-menu {
    background: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 999;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s ease;
    height: 0;
  }
  .c-main-menu.is-active {
    height: auto;
    opacity: 1;
  }
  .c-main-submenu {
    display: none;
  }
  .c-mobile-submenu {
    height: auto;
    padding-left: 2rem;
    display: block;
  }
  .c-main-menu .o-menu__link {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .o-menu__item {
    height: auto;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .o-menu__item:last-child {
    border-bottom: none;
  }
  .c-main-menu .o-menu__link.is-active {
    box-shadow: -3px 0 0 #0064a5;
  }
  .c-mobile-submenu .o-menu__link.is-active {
    box-shadow: none;
  }
}
.o-nav__icon {
  display: none;
  position: relative;
  float: left;
  width: 105px;
  height: 55px;
  padding: 15px 65px 0 10px;
}
.o-nav__icon:hover {
  cursor: pointer;
}
.o-nav__icon .o-nav__icon__part,
.o-nav__icon .o-nav__icon__part:after,
.o-nav__icon .o-nav__icon__part:before {
  width: 100%;
  height: 5px;
  background-color: #0064a5;
  transition: all 0.3s;
}
.o-nav__icon .o-nav__icon__label {
  text-transform: uppercase;
  color: #0064a5;
  font-size: 1.6rem;
  position: absolute;
  top: 20px;
  left: 50px;
}
.o-nav__icon .o-nav__icon__part {
  margin-top: 13px;
  position: relative;
  display: block;
}
.o-nav__icon .o-nav__icon__part:after,
.o-nav__icon .o-nav__icon__part:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.o-nav__icon .o-nav__icon__part:after {
  top: 9px;
}
.o-nav__icon.is-active .o-nav__icon__part {
  background-color: transparent;
}
.o-nav__icon.is-active .o-nav__icon__part:before {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
  -ms-transform: rotate(45deg) translate(6px, 6px);
  transform: rotate(45deg) translate(6px, 6px);
}
.o-nav__icon.is-active .o-nav__icon__part:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}
@media screen and (max-width: 700px) {
  .o-nav__icon {
    display: block;
  }
}

.o-paragraph {
  margin-bottom: 1rem;
}

.o-quote {
  margin: 30px 0;
  position: relative;
}
.o-quote:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  height: 100%;
  width: 70%;
  border-top: 2px solid #0064a5;
  border-bottom: 2px solid #0064a5;
}
.o-quote--full-width:before {
  width: 70%;
  border-top: 1px solid #0064a5;
  border-bottom: 1px solid #0064a5;
}
.o-quote-content {
  padding: 30px 0;
  position: relative;
  z-index: 10;
  color: #0064a5;
  font-size: 2.8rem;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
  margin: 0;
  background-image: linear-gradient(to left, rgba(0, 100, 165, 0) 0%, rgba(0, 100, 165, 0.05) 40%, rgba(0, 100, 165, 0.05) 60%, rgba(0, 100, 165, 0) 100%);
}
.o-quote-content--not-last {
  padding: 30px 0 10px 0;
}
.o-quote-content--small {
  font-size: 2rem;
}
.o-quote-source {
  color: #0064a5;
  display: block;
  position: relative;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  width: 100%;
  padding: 0 17.5% 20px 0;
  background-image: linear-gradient(to left, rgba(0, 100, 165, 0) 0%, rgba(0, 100, 165, 0.05) 40%, rgba(0, 100, 165, 0.05) 60%, rgba(0, 100, 165, 0) 100%);
}
.o-quote-source:before {
  content: "~ ";
}
@media screen and (max-width: 400px) {
  .o-quote-content {
    font-size: 2rem;
  }
  .o-quote-content--small {
    font-size: 1.6rem;
  }
  .o-quote-source {
    text-align: center;
  }
  .o-quote:before {
    width: 100%;
  }
}

html {
  font-size: 62.5%;
  /* now 1rem = 10px*/
  box-sizing: border-box;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Lato", Helvetica, "Verdana", "Arial", sans-serif;
  color: #646469;
  line-height: 140%;
  background-color: #ffffff;
}
body,
button,
p {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a,
a:hover {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
div,
section {
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: block;
}
img {
  max-width: 100%;
}

.o-sidebar {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  background: linear-gradient(#f3f5fa, rgba(243, 245, 250, 0));
  padding-bottom: 150px;
  margin-top: 1px;
}

.o-table {
  display: block;
}
.o-table__cell {
  vertical-align: top;
  color: #323237;
  padding: 1rem 0;
}
.o-table__cell:not(:last-child) {
  padding-right: 2rem;
}
.o-table__cell--quiet {
  color: #96969b;
}

.u-right {
  float: right;
}
@media (max-width: 400px) {
  .u-mobile-left {
    float: left;
  }
}
.u-padding-vert-10 {
  padding: 10px 0;
}
#cv_hack_body {
  font-weight: 400;
  font-size: 1.6rem;
  height: 100%;
}
#body {
  min-height: 100%;
  height: auto;
  max-width: 1000px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  text-align: left;
  margin: 0 2rem 0 5rem;
}
@media (max-width: 800px) {
  #body {
    margin: 0 1rem;
  }
}
/* Hack for IE */
* html #body {
  height: 100%;
}
/* End IE Hack */
#head {
  padding-left: 0px;
  background: #ffffff;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#logo {
  height: 95px;
  min-width: 10.5rem;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  font-size: 12px;
  background: #0065a4;
  color: #fff;
  position: relative;
  margin-left: auto;
}
.logo-type {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
.logo-type-outside {
  font-weight: normal;
  color: #0065a4;
  left: -165px;
}
* html #logo {
  margin-top: -29px;
}
#logo_img_bw {
  display: none;
}
@media screen and (max-width: 700px) {
  #logo {
    height: 5rem;
  }
  .logo-type {
    font-size: 1.6rem;
  }
  .logo-type-outside {
    left: -13.5rem;
  }
}
@media screen and (max-width: 400px) {
  .logo-type-outside {
    color: white;
    left: .5rem;
    top: .5rem;
  }
  #logo {
    min-width: 15.5rem;
  }
}
#content {
  box-sizing: border-box;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 90rem;
  padding: 30px 50px 0 1.6rem;
  background-color: #ffffff;
}
@media screen and (max-width: 700px) {
  #content {
    padding: 30px 1.6rem 0 1.6rem;
  }
}
@media screen and (max-width: 400px) {
  #content {
    padding: 30px 0 0 0;
  }
}
h1 {
  padding-bottom: 8px;
  font-weight: 200;
  color: #0065a4;
}
h2 {
  padding-bottom: 10px;
  font-weight: 400;
  color: #0065a4;
}
.standard_list {
  margin-top: 10px;
  margin-left: 17px;
  color: #5c5c5c;
  list-style-image: url(media/arrow_black.png);
}
.standard_list li {
  font-size: 14px;
  padding: 0px 0px 18px 0px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////Start Misc//////////////////////////////////////////*/
#home_quote {
  padding: 10px 15px;
  font-size: 1.4rem;
}
#carriculum_table_top {
  height: 172px;
  width: 100%;
  color: #5c5c5c;
}
#carriculum_table_top td {
  vertical-align: top;
  color: #5c5c5c;
}
#carriculum_table_top_right {
  text-align: right;
}
#carriculum_table {
  margin-left: -10px;
  color: #5c5c5c;
}
#carriculum_table td {
  padding-bottom: 20px;
  padding-left: 10px;
  vertical-align: top;
  color: #5c5c5c;
}
