#AuthType Basic
#AuthName "Test"
#AuthUserFile /kunden/233134_10119/bosb/.htpasswd
#require valid-user
#ErrorDocument 404 /htdocs_de/index.php?id=index

RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?bosb\.de$
RewriteRule ^$ http://bosb.de/htdocs_de/index.php?id=index [L,R=301]
